
<form action="/auth/login" method="post">
	<input type="text" name="username" value="$!username"/>
	<input type="password" name="password" />
	<input type="submit" value="登录" />
</form>


#if($username)
	<p>Hello, $username!  You can <a href="$logoutUrl">sign out</a>.</p>
#else
    <p>please login, <a href="$loginUrl">sign in</a></p>
#end