<html>
    <head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/> 
		<title>dotaer.com 域名出售</title>
	</head>
	<body>
		<div >
			$screen_content
        </div>
    </body>
</html>

